# Dependencies
node_modules/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Environment
.env
.env.local
.env.*.local

# Android
android/app/build/
android/.gradle/

# iOS
ios/Pods/
ios/build/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
